.card {
    width: 270px;
    height: 257.5px;
    background-color: #fff;
    margin: auto;
    border-radius: 5px;


}

.card-img {
    display: flex;
    height: 151.38px;
    background: url(../img/hotel-1.png);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex-direction: row-reverse;

}

.card-img2 {
    background: url(../img/hotel-2.png);
}

.ellipse {
    margin-right: 14.99px;
    justify-content: flex-end;
    align-self: flex-end;

}

.dot {

    appearance: none;
    width: 7.5px;
    height: 7.49px;
    margin-right: 3.5px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #eee;
    border-radius: 50%;
    outline: none;


}

.dot:checked {
    background-color: rgb(255, 255, 255);
}

.no-margin-right {
    margin-right: 0;
}

.card-info {
    margin: 20.12px 16px 19px 20px;
    display: flex;
    flex-wrap: wrap;
}

.card-number {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    color: #1F2041;
    margin-right: 65px;
    margin-left: 5px;
}

.card-price {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    margin-bottom: 11px;

    display: flex;
}

.first-text {
    font-weight: 700;
}

.second-text {
    font-weight: 400;
}

.card-reviews {
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: rgba(31, 32, 65, 0.5);
    margin-left: 26px;
    margin-right: 0px;
    margin-top: 4px;


}

.card-stars {

    display: flex;
    align-items: center;

}

.card-border {
    padding-top: 8px;
    padding-right: 0px;

    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(31, 32, 65, 0.1);

}

.card-lux {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-left: 5px;
    margin-right: 25px;




    text-transform: uppercase;
    color: #BC9CFF;
}

.no-margin-right {
    margin-right: 0;
}

.card-img-expands {
position: relative;
}

.expand-left {
position: absolute;

right: 235px;
top: 65px;
font-size: 24px;
line-height: 24px;
color: #FFFFFF;

transform: rotate(90deg);
}

.expand-right {
    position: absolute;
    top: 65px;
    right: 15px;
    color: #FFFFFF;
    font-size: 24px;
line-height: 24px;

transform: rotate(270deg);
}