@import "~normalize.css";
@import "montserrat.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.75);
}

.container {
    width: 1440px;
    height: auto;
    margin: auto;
    background-color: gray;


}

.empty {
    margin: 1rem;
    height: 50px;
    background-color: gray;
}

.navbar {

    display: flex;
    background-color: #ffff;
    margin: 1rem;

}

.nav-img {

    display: flex;
    align-self: center;
    padding: 15px 284px 15px 140px;



}

.menu-list {
    display: flex;

    list-style: none;
    text-align: center;
    line-height: 17px;
    font-size: 14px;
    font-style: normal;
    background-color: #ffff;
}

.active,
.menu-list ul li:hover {
    color: rgba(31, 32, 65, 0.75);
    font-weight: bold;

}

.menu-list li {

    color: rgba(31, 32, 65, 0.5);
    padding: 26px 10px;
}

.not-active {

    color: rgba(31, 32, 65, 0.5);
}

.sub-menu-1 {
    display: none;
    list-style: none;
    width: 70px;
}

.nav-services:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #eee;
    margin-top: 5px;
    margin-left: -5px;


}



.btn {
    display: block;
    text-align: center;
    margin: 20px;
    padding: 0 20px 0 20px;
    text-transform: uppercase;
    border-radius: 1rem;
    border: 2px solid #BC9CFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    outline: none;

}

.btn1 {
    color: #BC9CFF;
    background: #ffff;
}

.btn2 {
    color: #ffff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.office {
    display: flex;
    color: rgba(31, 32, 65, 0.5);

    border-left: 2px solid rgba(31, 32, 65, 0.05);

    margin: 13px 0 13px 21px;
    padding: 13px 0 13px 20px;

    font-size: 14px;
    line-height: 17px;


}

.footer-widgets {

    padding-top: 100px;
    background-color: #fff;
    margin: 1rem;
    
}

.footer-groups {
    display: flex;
}

.footer-group1 {
    width: 260px;
    margin-left: 140px;
}

.footer-descp {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
    color: rgba(31, 32, 65, 0.75);
}

.footer-widgets ul {
    list-style: none;
    margin: 20px;
    margin-top: 0;
    margin-left: 46px;
}

.footer-widgets ul>li {
    margin-top: 0;
}

.footer-widgets li {
    margin: 20px;

}

.footer-group2 {
    width: 260px;
}

.footer-header {
    color: rgb(31, 32, 65);
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

}

.input-email {
    padding: 12px 0px 8px 15px;
    outline: none;
    border: 2px solid #eee;
    transition: .3s;
    border-radius: 0.5rem;
    margin-top: 15px;
}

.input-email:focus {
    border-color: #eee;
    box-shadow: 0 0 10px #eee;
}

.input-email::placeholder {
    opacity: .5;
}

.inputWithIcon .input-email {}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {

    position: absolute;
    top: 25px;
    right: 50px;

}

.material-icons {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}



.fab {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    padding-right: 20px;
}
.fa-instagram{
    padding-right: 0;
}

.copyright {
    display: flex;
    padding: 26px;
    margin: 101px;
    margin-bottom: 0;

}

.copyright-text {
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
    margin-right: 681px;

}

.footer-small{
    margin: auto;
    background-color: #fff;
    width: 768px;
    height: 367px;
}

.footer-small-group{
    color: rgba(31, 32, 65, 0.75);
    font-size: 14px;
    line-height: 17px;
    padding-top: 120px;
    white-space: nowrap;
    text-align: center;
}
.footer-small-descp{
    padding-bottom: 25px;
    padding-top: 20px;
}